/* press A to start */
body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 36px;
	background: #181818;
	color: #fff;
	overflow-x: hidden;
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a {
	color: #AC91FF;
	font-weight: 600;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#page {
	margin-top: 60px;
}
/* primary nav */
nav.primary ul {
	list-style: none;
}
nav.primary ul li {
	float: left;
	margin-right: 50px;
	line-height: 14px;
}
nav.primary ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 6px;
	border-bottom: 2px solid transparent;
	display: block;
}
nav.primary ul li a:hover {
	text-decoration: none;
	border-bottom: 2px solid #AC91FF;
}